$c-white: #fff;
$c-black: #000;
$c-gray-main: #0f0e08;
$c-gray-light: #687480;
$c-gray-p: #4e4e4e;
$c-green: #1a5a4c;
$c-red: #d32f2f;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$mobile-container-width: 280px;
$mobile-columns: 2;
$mobile-column-width: 130px;
$mobile-gutter: 20px;
$mobile-margin: 20px;
$tablet-container-width: 690px;
$tablet-columns: 6;
$tablet-column-width: 90px;
$tablet-gutter: 30px;
$tablet-margin: 39px;
$desktop-container-width: 1170px;
$desktop-columns: 12;
$desktop-column-width: 70px;
$desktop-gutter: 30px;
$desktop-margin: 55px;
$animation-duration: 0.5s;
