.subscription-section {
  position: relative;
  color: $c-white;
  text-align: center;
  padding: 80px 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 100px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 120px 0;
  }
}

.subscription-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.subscription-content {
  max-width: 600px;
  margin: 0 auto;

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 40px;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 48px;
    }
  }

  &__description {
    font-size: 16px;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}

.subscription-form {
  display: flex;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

.subscription-form__input {
  width: 70%;
  padding: 16px;
  border: 1px solid $c-gray-light;
  background-color: #fff;
  color: $c-black;
  font-family: Montserrat, sans-serif;
  font-size: 16px;

  &::placeholder {
    color: $c-gray-light;
    font-weight: 400;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-grow: 1;
  }
}

.subscription-form__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;

  @media (min-width: $breakpoint-tablet) {
    align-self: center;
  }

  img {
    width: 60px;
    height: 60px;
  }
}
